parameters:
  level: 8
  paths:
    - eywa
  excludes_analyse:
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
      -
          message: '#Parameter 1 $argument of class ReflectionClass constructor expects class-string<T of object>|T of object, string given.#'
          path: eywa