{% extends 'layout.twig' %}

{% block content %}


    <a href="{{ url('login') }}" class="btn btn-success mb-2"> login</a>
    <a href="{{ url('admin') }}" class="btn btn-danger mb-2"> admin</a>

    {{ form(code) }}

        {{  form(del) }}

{% endblock %}
