{% extends 'layout.twig' %}

{% block content %}

    <div class="container">
        {% if flash.has('success') %}
            <div class="alert-success alert">
                {{ flash.get('success') }}
            </div>
        {% endif %}
    </div>


    {{ code | raw }}
    {{  del  | raw }}
{% endblock %}
