{% extends 'layout.twig' %}

{% block content %}

    {% if message.get('success') %}
        <div class="alert-success alert">
            {{ message.get('success') }}
        </div>
    {% endif %}

    {{ code | raw }}
    {{  del  | raw }}
{% endblock %}
