{% extends 'layout.twig' %}

{% block title '' %}

{% block description '' %}

{% block css %}

{% endblock %}

{% block content %}

<h1>welcome</h1>
    {{ print(x) }}
{% endblock %}

{% block js %}



{% endblock %}
