<!doctype html>
<html lang="{{ lang() }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% if development() %}

        {% endif %}

        <!-- Bootstrap CSS -->
        <link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet" >
    
        {% block css %} {% endblock %}
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %} {% endblock %}">

    </head>
    <body >

        <main class="container">
            {{ display('success') }}
            {{ display('failure') }}
            {% block content %} {% endblock %}
        </main>

    </body>
</html>